amarakosha/
ashtadhyayi_simulator/
css_files/
GOLD_DATA/
imgs/
NN/
scl_help.pdf
skt_gen/
START
cgi_interface.pl
COPYING
dhaatupaatha/
e-readers/
htdocs/
js_files/
morph_bin/
sandhi/
SHMT/
SPEC/
transliteration/
